
.App {
    text-align: center;
  }
  
body,
html {
    font-family: 'queenMedium', sans-serif;

}

@font-face {
    font-family: 'queenMedium';
    src: local('queenMedium'), url(./assets/QueensidesMedium-x30zV.ttf) format('truetype');

}

.styled.div {
    flex-wrap: wrap;
}