
.App {
    text-align: center;
  }
  
body,
html {
    font-family: 'queenMedium', sans-serif;

}

@font-face {
    font-family: 'queenMedium';
    src: local('queenMedium'), url(./assets/QueensidesMedium-x30zV.ttf) format('truetype');

}

.styled.div {
    flex-wrap: wrap;
}

.container {
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ui {
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav {
    font-size: larger;
}

.form {
    float:left;

}

.Logo {
    border-radius: 150px
}